CISTADMKKB0041201/CISTADMKKB0041201_InRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:SCISMKKB0041201_outbound" />
    <complexType name="SCISMKKB0041201_outbound">
        <sequence>
            <element name="crdMemNo">
                <annotation>
                    <documentation>카드회원번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="9" />
                    </restriction>
                </simpleType>
            </element>
            <element name="sdispsAmt">
                <annotation>
                    <documentation>특별우대권금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="19" />
                    </restriction>
                </simpleType>
            </element>
            <element name="copnPblcCnt">
                <annotation>
                    <documentation>쿠폰발행건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="copnUseCnt">
                <annotation>
                    <documentation>쿠폰사용건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="aprvlSendYn">
                <annotation>
                    <documentation>승인전송여부</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="swtcDscdCnt">
                <annotation>
                    <documentation>전환폐기건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="dscdCnt">
                <annotation>
                    <documentation>폐기건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="regId">
                <annotation>
                    <documentation>등록ID</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="regDtm">
                <annotation>
                    <documentation>등록일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="regPrgId">
                <annotation>
                    <documentation>등록프로그램ID</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="chgId">
                <annotation>
                    <documentation>변경ID</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="chgDtm">
                <annotation>
                    <documentation>변경일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="chgPrgId">
                <annotation>
                    <documentation>변경프로그램ID</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>