KSNCISPMCO0110101_CISKSNPMCO0110102/CISKSNPMCO0110102_OutResHdr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/" version="S00000007191.1">
    <element name="root" type="tns:KN03_KSN_HCommHeader_ENT_inbound" />
    <complexType name="KN03_KSN_HCommHeader_ENT_inbound">
        <sequence>
            <element name="trCode">
                <annotation>
                    <documentation>식별코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="9" />
                    </restriction>
                </simpleType>
            </element>
            <element name="svcGb">
                <annotation>
                    <documentation>업체코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bnkCd2">
                <annotation>
                    <documentation>은행코드2</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="msgCd">
                <annotation>
                    <documentation>메시지코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="jobGbcd">
                <annotation>
                    <documentation>업무구분코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trsCnt">
                <annotation>
                    <documentation>송신횟수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="ediNo">
                <annotation>
                    <documentation>전문번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="sdDate">
                <annotation>
                    <documentation>전송일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="Y" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="sdTime">
                <annotation>
                    <documentation>전송시간</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="retCd">
                <annotation>
                    <documentation>응답코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bnkRetCd">
                <annotation>
                    <documentation>은행응답코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="qryDt">
                <annotation>
                    <documentation>조회일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="qryNo">
                <annotation>
                    <documentation>조회번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bnkEdiNo">
                <annotation>
                    <documentation>은행전문번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="Y" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="15" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bnkCd3">
                <annotation>
                    <documentation>은행코드3</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="Y" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="sdFlag">
                <annotation>
                    <documentation>예비</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:mask_type />
                        <p:msg_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="13" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>