NICCISSCAI0011501/NICCISSCAI0011501_InReqBody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:SNICSCAI0011501_inbound" />
    <complexType name="SNICSCAI0011501_inbound">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="niceDataGroup" type="tns:NICE_DATA_GROUP_TYPE">
                <annotation>
                    <documentation>NICE데이터</documentation>
                    <appinfo>
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="NICE_DATA_GROUP_TYPE">
        <sequence>
            <element name="mngNo">
                <annotation>
                    <documentation>관리번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bsicDt">
                <annotation>
                    <documentation>기준일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="rowSeq">
                <annotation>
                    <documentation>행순번</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="setlGbcd">
                <annotation>
                    <documentation>결산구분코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="relcoNm">
                <annotation>
                    <documentation>관계사명</documentation>
                    <appinfo>
                        <p:description value="관계사명" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="40" />
                    </restriction>
                </simpleType>
            </element>
            <element name="relcoCd">
                <annotation>
                    <documentation>관계사코드</documentation>
                    <appinfo>
                        <p:description value="관계사코드" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="estbDt">
                <annotation>
                    <documentation>설립일자</documentation>
                    <appinfo>
                        <p:description value="설립일자" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bizCntn">
                <annotation>
                    <documentation>사업내용</documentation>
                    <appinfo>
                        <p:description value="사업내용" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="50" />
                    </restriction>
                </simpleType>
            </element>
            <element name="setlYr">
                <annotation>
                    <documentation>결산년도</documentation>
                    <appinfo>
                        <p:description value="결산년도" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="setlMm">
                <annotation>
                    <documentation>결산월</documentation>
                    <appinfo>
                        <p:description value="결산월" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="saleAmt">
                <annotation>
                    <documentation>매출금액</documentation>
                    <appinfo>
                        <p:description value="매출금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nprftAmt">
                <annotation>
                    <documentation>순이익금액</documentation>
                    <appinfo>
                        <p:description value="순이익금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="alcRt">
                <annotation>
                    <documentation>배당율</documentation>
                    <appinfo>
                        <p:description value="배당률" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="7" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="capt">
                <annotation>
                    <documentation>자본금</documentation>
                    <appinfo>
                        <p:description value="자본금" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="mslCapt">
                <annotation>
                    <documentation>자기자본금</documentation>
                    <appinfo>
                        <p:description value="자기자본(자본총계의 의미로 사용)" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="oprftAmt">
                <annotation>
                    <documentation>경상이익금액</documentation>
                    <appinfo>
                        <p:description value="경상이익금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="astTotAmt">
                <annotation>
                    <documentation>자산총금액</documentation>
                    <appinfo>
                        <p:description value="자산총금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="sheRate">
                <annotation>
                    <documentation>지주비율</documentation>
                    <appinfo>
                        <p:description value="지주비율" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="7" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>