CISTOSPMBC0020101/CISTOSPMBC0020101_InReqBody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:SCISPMBC0020101_inbound" />
    <complexType name="SCISPMBC0020101_inbound">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="comHeaderGroup" type="tns:COM_HEADER_GROUP_TYPE">
                <annotation>
                    <documentation>토스공통헤더</documentation>
                    <appinfo>
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="1" name="headerGroup" type="tns:HEADER_GROUP_TYPE">
                <annotation>
                    <documentation>기업은행헤더</documentation>
                    <appinfo>
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
            <element name="dataGroupRowcount">
                <annotation>
                    <documentation>기업은행데이터부_배열건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" name="dataGroupList" type="tns:DATA_GROUP_LIST_TYPE">
                <annotation>
                    <documentation>기업은행데이터부_배열</documentation>
                    <appinfo>
                        <p:adjustLength category="variableField" lengthFieldURL="DATA_GROUP_ROWCOUNT" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="1" name="tailGroup" type="tns:TAIL_GROUP_TYPE">
                <annotation>
                    <documentation>기업은행트레일러</documentation>
                    <appinfo>
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="COM_HEADER_GROUP_TYPE">
        <sequence>
            <element name="tossHdrGbVal">
                <annotation>
                    <documentation>토스헤더구분값</documentation>
                    <appinfo>
                        <p:description value="토스페이먼츠 공통헤더구분값&#xA;&quot;&lt;&lt;NEHEAD&gt;&gt;&quot;" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tskGbcd">
                <annotation>
                    <documentation>업무구분코드</documentation>
                    <appinfo>
                        <p:description value="&quot;1&quot;" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trdFormCd">
                <annotation>
                    <documentation>거래형태코드</documentation>
                    <appinfo>
                        <p:description value="&quot;N&quot;" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="fileSize1">
                <annotation>
                    <documentation>파일크기1</documentation>
                    <appinfo>
                        <p:description value="파일크기" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10" />
                    </restriction>
                </simpleType>
            </element>
            <element name="fileSize2">
                <annotation>
                    <documentation>파일크기2</documentation>
                    <appinfo>
                        <p:description value="&quot;0000000000&quot;" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trspId">
                <annotation>
                    <documentation>송신자ID</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10" />
                    </restriction>
                </simpleType>
            </element>
            <element name="senmCustGbcd">
                <annotation>
                    <documentation>발송업체구분코드</documentation>
                    <appinfo>
                        <p:description value="발송업체구분코드" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="infGbcd">
                <annotation>
                    <documentation>정보구분코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="prepVal">
                <annotation>
                    <documentation>예비값</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="rcvCnt">
                <annotation>
                    <documentation>수신건수</documentation>
                    <appinfo>
                        <p:description value="&quot;001&quot;" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="rcvpId">
                <annotation>
                    <documentation>수신자ID</documentation>
                    <appinfo>
                        <p:description value="&quot;기업 : BK00024&#xA;국민 : BK00018&#xA;외환 : BK00007&#xA;농협 : BK00013&#xA;우리 : BK00009&#xA;기업 : BK00004&#xA;시티 : KABBANK&#xA;부산 : PSBEDII&#xA;하나 : HANA001&#xA;신한(조흥) : CHBBANK&#xA;대구 : DGBCMS1&quot;" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="10" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="HEADER_GROUP_TYPE">
        <sequence>
            <element name="idntCd">
                <annotation>
                    <documentation>식별코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trsfGbVal">
                <annotation>
                    <documentation>이체구분값</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tnrGbcd">
                <annotation>
                    <documentation>송수신구분코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bankCd">
                <annotation>
                    <documentation>은행코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="istnCd">
                <annotation>
                    <documentation>기관코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="7" />
                    </restriction>
                </simpleType>
            </element>
            <element name="askDt">
                <annotation>
                    <documentation>의뢰일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trsfDsntDt">
                <annotation>
                    <documentation>이체지정일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="endDt">
                <annotation>
                    <documentation>종료일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nullVal1">
                <annotation>
                    <documentation>공백값1</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="parAcno">
                <annotation>
                    <documentation>모계좌번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nullVal2">
                <annotation>
                    <documentation>공백값2</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="28" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="DATA_GROUP_LIST_TYPE">
        <sequence>
            <element name="idntCd">
                <annotation>
                    <documentation>식별코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="seqno">
                <annotation>
                    <documentation>일련번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trsfAskDt">
                <annotation>
                    <documentation>이체의뢰일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="bankCd">
                <annotation>
                    <documentation>은행코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="acno">
                <annotation>
                    <documentation>계좌번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trsfAskAmt">
                <annotation>
                    <documentation>이체의뢰금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="procGbVal">
                <annotation>
                    <documentation>처리구분값</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="inabCd">
                <annotation>
                    <documentation>불능코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
            <element name="custUseInf">
                <annotation>
                    <documentation>업체사용정보</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="20" />
                    </restriction>
                </simpleType>
            </element>
            <element name="procAmt">
                <annotation>
                    <documentation>처리금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nullVal">
                <annotation>
                    <documentation>공백값</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="4" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="TAIL_GROUP_TYPE">
        <sequence>
            <element name="idntCd">
                <annotation>
                    <documentation>식별코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="trsfGbVal">
                <annotation>
                    <documentation>이체구분값</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="recdTotCnt">
                <annotation>
                    <documentation>레코드총건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="askCnt">
                <annotation>
                    <documentation>의뢰건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element name="askAmt">
                <annotation>
                    <documentation>의뢰금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nrmlWthdrwlCnt">
                <annotation>
                    <documentation>정상출금건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nrmlWthdrwlAmt">
                <annotation>
                    <documentation>정상출금금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="inpaWthdrwlCnt">
                <annotation>
                    <documentation>부분출금건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element name="inpaWthdrwlAmt">
                <annotation>
                    <documentation>부분출금금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="inabCnt">
                <annotation>
                    <documentation>불능건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element name="inabAmt">
                <annotation>
                    <documentation>불능금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="11" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nullVal">
                <annotation>
                    <documentation>공백값</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>