SUICISUPSB0010102/SUICISUPSB0010102_OutRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:TCISUPSB0010102_outbound" />
    <complexType name="TCISUPSB0010102_outbound">
        <sequence>
            <element name="dayCWtdwRateLstRowcount">
                <annotation>
                    <documentation>일별회수비율목록배열건수</documentation>
                    <appinfo>
                        <p:description value="개발용" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" name="dayCWtdwRateLstList" type="tns:DAY_C_WTDW_RATE_LST_LIST_TYPE">
                <annotation>
                    <documentation>일별회수비율목록_배열</documentation>
                    <appinfo>
                        <p:adjustLength category="variableField" lengthFieldURL="DAY_C_WTDW_RATE_LST_ROWCOUNT" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="DAY_C_WTDW_RATE_LST_LIST_TYPE">
        <sequence>
            <element name="asgnrId">
                <annotation>
                    <documentation>담당자ID</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="asgnrNm">
                <annotation>
                    <documentation>담당자명</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueMthsCnt">
                <annotation>
                    <documentation>연체개월수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cdAreaNm1">
                <annotation>
                    <documentation>코드지역명1</documentation>
                    <appinfo>
                        <p:description value="코드지역명" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="oduePrncAmt1">
                <annotation>
                    <documentation>연체원금금액1</documentation>
                    <appinfo>
                        <p:description value="연체원금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="19" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtAmt1">
                <annotation>
                    <documentation>연체입금금액1</documentation>
                    <appinfo>
                        <p:description value="연체입금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="19" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtWtdwRate1">
                <annotation>
                    <documentation>연체입금회수비율1</documentation>
                    <appinfo>
                        <p:description value="연체에 대한 입금금액 비율" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="7" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cdAreaNm2">
                <annotation>
                    <documentation>코드지역명2</documentation>
                    <appinfo>
                        <p:description value="코드지역명" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="oduePrncAmt2">
                <annotation>
                    <documentation>연체원금금액2</documentation>
                    <appinfo>
                        <p:description value="연체원금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="20" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtAmt2">
                <annotation>
                    <documentation>연체입금금액2</documentation>
                    <appinfo>
                        <p:description value="연체입금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="20" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtWtdwRate2">
                <annotation>
                    <documentation>연체입금회수비율2</documentation>
                    <appinfo>
                        <p:description value="연체에 대한 입금금액 비율" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="9" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cdAreaNm3">
                <annotation>
                    <documentation>코드지역명3</documentation>
                    <appinfo>
                        <p:description value="코드지역명" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="oduePrncAmt3">
                <annotation>
                    <documentation>연체원금금액3</documentation>
                    <appinfo>
                        <p:description value="연체원금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="21" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtAmt3">
                <annotation>
                    <documentation>연체입금금액3</documentation>
                    <appinfo>
                        <p:description value="연체입금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="21" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtWtdwRate3">
                <annotation>
                    <documentation>연체입금회수비율3</documentation>
                    <appinfo>
                        <p:description value="연체에 대한 입금금액 비율" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="11" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cdAreaNm4">
                <annotation>
                    <documentation>코드지역명4</documentation>
                    <appinfo>
                        <p:description value="코드지역명" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="oduePrncAmt4">
                <annotation>
                    <documentation>연체원금금액4</documentation>
                    <appinfo>
                        <p:description value="연체원금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="22" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtAmt4">
                <annotation>
                    <documentation>연체입금금액4</documentation>
                    <appinfo>
                        <p:description value="연체입금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="22" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtWtdwRate4">
                <annotation>
                    <documentation>연체입금회수비율4</documentation>
                    <appinfo>
                        <p:description value="연체에 대한 입금금액 비율" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="13" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cdAreaNm5">
                <annotation>
                    <documentation>코드지역명5</documentation>
                    <appinfo>
                        <p:description value="코드지역명" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="oduePrncAmt5">
                <annotation>
                    <documentation>연체원금금액5</documentation>
                    <appinfo>
                        <p:description value="연체원금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="23" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtAmt5">
                <annotation>
                    <documentation>연체입금금액5</documentation>
                    <appinfo>
                        <p:description value="연체입금금액" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="23" />
                    </restriction>
                </simpleType>
            </element>
            <element name="odueIamtWtdwRate5">
                <annotation>
                    <documentation>연체입금회수비율5</documentation>
                    <appinfo>
                        <p:description value="연체에 대한 입금금액 비율" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="15" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>