SUICISSCEE0010201/SUICISSCEE0010201_InRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:SSUISCEE0010201_outbound" />
    <complexType name="SSUISCEE0010201_outbound">
        <sequence>
            <element name="rstRowcount">
                <annotation>
                    <documentation>결과건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" name="rstList" type="tns:RST_LIST_TYPE">
                <annotation>
                    <documentation>결과리스트</documentation>
                    <appinfo>
                        <p:adjustLength category="variableField" lengthFieldURL="RST_ROWCOUNT" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="RST_LIST_TYPE">
        <sequence>
            <element name="telno">
                <annotation>
                    <documentation>전화번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="20" />
                    </restriction>
                </simpleType>
            </element>
            <element name="dicoNm">
                <annotation>
                    <documentation>깡업체명</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="50" />
                    </restriction>
                </simpleType>
            </element>
            <element name="telpnGbcd">
                <annotation>
                    <documentation>전화구분코드</documentation>
                    <appinfo>
                        <p:description value="전화구분코드" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="adr">
                <annotation>
                    <documentation>주소</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="regStoreCd">
                <annotation>
                    <documentation>등록점코드</documentation>
                    <appinfo>
                        <p:description value="등록점코드" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="regRsn">
                <annotation>
                    <documentation>등록사유</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2000" />
                    </restriction>
                </simpleType>
            </element>
            <element name="rgstId">
                <annotation>
                    <documentation>등록자ID</documentation>
                    <appinfo>
                        <p:description value="등록자ID" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="regDtm">
                <annotation>
                    <documentation>등록일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tmnnStoreCd">
                <annotation>
                    <documentation>해지점코드</documentation>
                    <appinfo>
                        <p:description value="해지점코드" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tmnnRsn">
                <annotation>
                    <documentation>해지사유</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="200" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cnpsId">
                <annotation>
                    <documentation>해지자ID</documentation>
                    <appinfo>
                        <p:description value="해지자ID" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tmnnDtm">
                <annotation>
                    <documentation>해지일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="chgpId">
                <annotation>
                    <documentation>변경자ID</documentation>
                    <appinfo>
                        <p:description value="변경자ID" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="100" />
                    </restriction>
                </simpleType>
            </element>
            <element name="chgDtm">
                <annotation>
                    <documentation>변경일시</documentation>
                    <appinfo>
                        <p:description value="변경자ID" />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>