MYDCISCTCN0050701/MYDCISCTCN0050701_InRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:SMYDCTCN0050701_outbound" />
    <complexType name="SMYDCTCN0050701_outbound">
        <sequence>
            <element name="trdInntNo">
                <annotation>
                    <documentation>거래고유번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="H" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="25" />
                    </restriction>
                </simpleType>
            </element>
            <element name="respCd">
                <annotation>
                    <documentation>응답코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element name="respMsg">
                <annotation>
                    <documentation>응답메시지</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="450" />
                    </restriction>
                </simpleType>
            </element>
            <element name="qryDtm">
                <annotation>
                    <documentation>조회일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="revoYn">
                <annotation>
                    <documentation>리볼빙여부</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="stlmRowcount">
                <annotation>
                    <documentation>결제_배열건수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="5" />
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" name="stlmList" type="tns:STLM_LIST_TYPE">
                <annotation>
                    <documentation>결제_배열</documentation>
                    <appinfo>
                        <p:adjustLength category="variableField" lengthFieldURL="STLM_ROWCOUNT" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="STLM_LIST_TYPE">
        <sequence>
            <element name="stlmSeq">
                <annotation>
                    <documentation>결제순번</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="30" />
                    </restriction>
                </simpleType>
            </element>
            <element name="stlmPrrgDt">
                <annotation>
                    <documentation>결제예정일자</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="8" />
                    </restriction>
                </simpleType>
            </element>
            <element name="stlmPrrgAmt">
                <annotation>
                    <documentation>결제예정금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="15" />
                        <fractionDigits value="0" />
                    </restriction>
                </simpleType>
            </element>
            <element name="spymAmt">
                <annotation>
                    <documentation>일시불금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="18" />
                        <fractionDigits value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="insmAmt">
                <annotation>
                    <documentation>할부금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="18" />
                    </restriction>
                </simpleType>
            </element>
            <element name="shtmLoanAmt">
                <annotation>
                    <documentation>단기대출금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="18" />
                        <fractionDigits value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="revoAmt">
                <annotation>
                    <documentation>리볼빙금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="20" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="lntmLoanAmt">
                <annotation>
                    <documentation>장기대출금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="18" />
                        <fractionDigits value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="anfeAmt">
                <annotation>
                    <documentation>연회비금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="2" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                        <p:api_data_area_dcd value="B" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="20" />
                        <fractionDigits value="2" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>