TADCISMKCG0400101/TADCISMKCG0400101_InRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:p="http://schemas.jmims.com/mms/io/" xmlns:tns="http://schemas.jmims.com/mms/io/" targetNamespace="http://schemas.jmims.com/mms/io/">
    <element name="root" type="tns:STADMKCG0400101_outbound" />
    <complexType name="STADMKCG0400101_outbound">
        <sequence>
            <element name="crdNo">
                <annotation>
                    <documentation>카드번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="16" />
                    </restriction>
                </simpleType>
            </element>
            <element name="crdMemNo">
                <annotation>
                    <documentation>카드회원번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="9" />
                    </restriction>
                </simpleType>
            </element>
            <element name="selfMemNo">
                <annotation>
                    <documentation>본인회원번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="9" />
                    </restriction>
                </simpleType>
            </element>
            <element name="aprvlDtm">
                <annotation>
                    <documentation>승인일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="aprvlNo">
                <annotation>
                    <documentation>승인번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="12" />
                    </restriction>
                </simpleType>
            </element>
            <element name="storeCd">
                <annotation>
                    <documentation>점코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="3" />
                    </restriction>
                </simpleType>
            </element>
            <element name="aprvlReqnPosNo">
                <annotation>
                    <documentation>승인요청포스번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="saleRceitNo">
                <annotation>
                    <documentation>매출영수번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="aprvlGbcd">
                <annotation>
                    <documentation>승인구분코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="aprvlReqnIstnCd">
                <annotation>
                    <documentation>승인요청기관코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="2" />
                    </restriction>
                </simpleType>
            </element>
            <element name="frcsNo">
                <annotation>
                    <documentation>가맹점번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="16" />
                    </restriction>
                </simpleType>
            </element>
            <element name="insmMths">
                <annotation>
                    <documentation>할부개월수</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="iamtGbcd">
                <annotation>
                    <documentation>입금구분코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="tsaleAmt">
                <annotation>
                    <documentation>총매출금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="enuriAmt">
                <annotation>
                    <documentation>에누리금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nsaleAmt">
                <annotation>
                    <documentation>순매출금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="saleIamtAmt">
                <annotation>
                    <documentation>매출입금금액</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="long">
                        <totalDigits value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="itemCd">
                <annotation>
                    <documentation>상품코드</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="20" />
                    </restriction>
                </simpleType>
            </element>
            <element name="orgAprvlDtm">
                <annotation>
                    <documentation>원승인일시</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="14" />
                    </restriction>
                </simpleType>
            </element>
            <element name="cnclPosNo">
                <annotation>
                    <documentation>취소포스번호</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="orgsaleRceitNo">
                <annotation>
                    <documentation>원매출영수번호</documentation>
                    <appinfo>
                        <p:description value="취소 매출시 원거래에 해당하는 영수번호" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="6" />
                    </restriction>
                </simpleType>
            </element>
            <element name="eltrWalletJoinYn">
                <annotation>
                    <documentation>전자지갑가입여부</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="smsngpJoinYn">
                <annotation>
                    <documentation>삼성페이가입여부</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="paycJoinYn">
                <annotation>
                    <documentation>페이코가입여부</documentation>
                    <appinfo>
                        <p:description />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="1" />
                    </restriction>
                </simpleType>
            </element>
            <element name="nullVal">
                <annotation>
                    <documentation>공백값</documentation>
                    <appinfo>
                        <p:description value="전문에서 공백 ;FILLER" />
                        <p:mandatory value="N" />
                        <p:level value="1" />
                        <p:encryption value="N" />
                        <p:one_path_encp value="N" />
                        <p:mask_type />
                        <p:db_key value="N" />
                        <p:krn_fld_yn value="N" />
                    </appinfo>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="20" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>